<section class="body">
  <div *ngIf="!isLoading; else loading">
    <article *ngIf="pokemon" class="pokemon row">
      <figure class="pokemon-image col-lg-6 m-0">
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{ pokemon.id }}.png"
          class="card-img-top list-item__img" alt="{{ pokemon.name }}">
      </figure>

      <article class="pokemon-body col-lg-6">
        <h1 class="pokemon-title">
          <img src="../../../assets/pokebola.png" />
          {{ pokemon.name | titlecase}}
        </h1>
        <div class="pokemon-content">
          <aside class="pokemon-content__information">
            <p><strong>Id:</strong>#{{ pokemon.id }}</p>
            <p><strong>Heigh:</strong>{{ pokemon.height/10 }}m</p>
            <p><strong>Weight:</strong>{{ pokemon.weight/10 }}kg</p>
            <p><strong>Types:</strong><span *ngFor="let type of pokemon.types"><span class="{{ type.type.name }}">{{
                  type.type.name | titlecase
                  }}</span> </span></p>
          </aside>
          <aside class="pokemon-content__stats">
            <h1><fa-icon [icon]="faChartLine" class="pokemon-content__icon"></fa-icon>Stats</h1>
            <div class="stats" *ngFor="let stat of pokemon.stats">
              <span class="col-lg-3">{{ stat.stat.name | titlecase }}</span>
              <div class="progress col-lg-9 col-12" role="progressbar" aria-label="progress" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar" [style]="{'width': stat.base_stat+'%'}">{{ stat.base_stat }}</div>
              </div>
            </div>
          </aside>
        </div>
      </article>
      <article class="evolution col-12">
        <h1>Evolutions</h1>
        <div class="d-flex col-12">
          <div *ngFor="let stage of evolutionList.totalStage" [ngStyle]="{'width': getWidhtStage()}"
            class="evolution-stage">
            <div *ngFor="let evolution of evolutionList.list" class="evolution-stage__list">
              <div *ngIf="evolution.stage==stage" class="evolution-stage__content">
                <img
                  src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{ evolution.id }}.png">
                <p>{{ evolution.name }}</p>
              </div>
            </div>
          </div>
        </div>
      </article>
    </article>
  </div>

  <ng-template #loading>
    <div>
      Carregando
    </div>
  </ng-template>
</section>
