<section class="body">
  <input type="hidden" value="{{ makeSearch() }}">
  <div *ngIf="!isLoading; else loading">
    <div *ngIf="listPokemons.length>0 else notFound" class="list">
      <div *ngFor="let pokemon of listPokemons">
        <article class="card list-item me-lg-5 mb-5" style="width: 18rem;">
          <header class="list-pokebol">
            <img src="../../../assets/pokebola.png" class="" />
            <span>#{{ pokemon.id }}</span>
          </header>
          <figure class="list-item__figure">
            <img src="{{ pokemon.img }}" class="card-img-top list-item__img" alt="{{ pokemon.name }}">
          </figure>
          <article class="card-body list-item__body">
            <img src="../../../assets/pokebola.png" class="list-item__pokebol" />
            <h5 class="card-title list-item__title">{{ pokemon.name.replaceAll("-", " ") | titlecase }}</h5>
            <a routerLink="/pokemon/{{ pokemon.id }}" class="btn btn-primary list-item__link">Saiba Mais</a>
          </article>
        </article>
      </div>
    </div>
    <ng-template #notFound>
      <article>
        Não foi encontrado nenhum pokemon
      </article>
    </ng-template>
  </div>

  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>

  <nav aria-label="Páginas" class="pagination-content" *ngIf="listPokemons.length>0 && search.term==''">
    <ul class="pagination justify-content-center">
      <li class="page-item" *ngIf="pagination.hasPrevious">
        <button class="page-link" routerLink="/{{ page-1 }}"  (click)="setPage(page-1)">Anterior</button>
      </li>
      <li class="page-item" *ngIf="pagination.actual>pagination.first+1"><button class="page-link"
          routerLink="/{{ pagination.first }}" (click)="setPage(pagination.first)">{{ pagination.first }}</button>
      </li>
      <li class="page-item" *ngIf="pagination.actual>pagination.first+1"><button class="page-link">...</button>
      </li>
      <li class="page-item" *ngFor="let page of pagination.pages"><button class="page-link {{ pagination.actual==page ? 'active': '' }}" routerLink="/{{ page}}" (click)="setPage(page)">{{ page }}</button></li>
      <li class="page-item" *ngIf="pagination.actual<pagination.last-1"><button class="page-link">...</button>
      </li>
      <li class="page-item" *ngIf="pagination.actual<pagination.last-1"><button class="page-link" routerLink="/{{ pagination.last }}" (click)="setPage(pagination.last)">{{ pagination.last }}</button>
      </li>
      <li class="page-item" *ngIf="pagination.hasNext">
        <button class="page-link" routerLink="/{{ page+1 }}" (click)="setPage(page+1)" >Next</button>
      </li>
    </ul>
  </nav>
</section>
